<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Misc</key>
	<dict>
		<key>Boot</key>
		<dict>
			<key>ShowPicker</key>
			<false/>
		</dict>
		<key>Entries</key>
		<array>
			<dict>
				<key>Arguments</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>Name</key>
				<string>NextCore APFS probe</string>
				<key>Path</key>
				<string>\EFI\OC\NXAPFS.efi</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
